{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                    <div class="text-center">
                        <p> Faça upload dos arquivos </p>
                        <form action="/upload/files" method="post" enctype="multipart/form-data" id="upload-form">
                            <input type="file" name="files[]" id="upload-field" multiple=""/>
                            <button type="submit" class="btn btn-primary" id="upload-button"
                                    data-loading-text="Fazendo upload ...">UPLOAD
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div id="msg-container"></div>
                <div id="drop-files">
                    <p>Drag and drop here</p>
                </div>
            </div>
        </div>
        {% if type is defined %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endif %}
    </div>
{% endblock %}
